/* line 1, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 25, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
body {
  line-height: 1; }

/* line 28, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
ol, ul {
  list-style: none; }

/* line 31, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 34, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 39, /Users/michal/dev/adventure-tone/app/styles/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 9 */
html, body {
  height: 100%; }

/* line 12 */
body {
  background: #fafafa;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 17 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 24 */
.container {
  width: 480px;
  margin: 0 auto; }

/* line 28 */
.grid-box {
  width: 30px;
  height: 30px;
  background-color: #333333;
  border: 1px solid #fafafa;
  float: left; }

/* line 35 */
.grid-box.other-clicked {
  background-color: #99225d; }

/* line 37 */
.grid-box.client-clicked {
  background-color: #22995e; }

